*.sublime-workspace
.DS_Store
.idea
node_modules
npm-debug.log
newrelic_agent.log
.tern-project
.DS_Store
*.mode1v3
*.perspectivev3
*.pbxuser
build/
/platforms/ios/www/
/platforms/android/www/
!templates/
!templates/*
!templates/config.xml
/www/res/.DS_Store
www/public
sputnik/*
!sputnik/.git